.itemWrap{
    border: 1px solid;
    border-radius: 4px;
    width: 300px;
    padding: 15px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.itemWrap img{
    width: 200px;
    border-radius: 4px;
    background: aliceblue;
    margin: 0 auto;
}
.content{
    display: flex;
    flex-direction: column;
}
.content h3{
    text-align: center;
}
.prise{
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}