.itemWrap{
    border: 1px solid;
    border-radius: 4px;
    /*width: 90%;*/
    padding: 15px;
    /*margin: 30px auto;*/
    display: flex;
    justify-content: space-evenly;

}
.itemWrap img{
    width: 110px;
    border-radius: 4px;
    background: aliceblue;
    margin-right: 1em;
}
.content{
    display: flex;
    flex-direction: column;
    width: 90%;
}